<section id="background">
    <div id="container">
        <div id="title">
            <h1>{{title}}</h1>
            {{#if menu_builder.icon}}
            <span class={{menu_builder.icon}}>
            </span>
            {{else}}
            <p>{{menu_builder.icons}}</p>
            <span><img id="doodle" src="images/doodles/Cafecito.png" alt=""></span>
            {{/if}}
        </div>
        <div id="board">

            {{#each menu_builder.content}}
            <div class={{this.class}}>
                <h3>{{this.title}}</h3>
                <p>{{this.desc}}</p>
                
                <div class="sizes">
                    {{#each this.size}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>

                {{#each this.items}}
                <div class="item">
                    <p>{{name}}</p>
                    {{#if prices}}
                    <div class="prices">
                        {{#each prices}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    {{else}}
                    <p>{{price}}</p>
                    {{/if}}
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}

                {{#if this.icon}}
                <span class="{{this.icon}} doodle"></span>
                {{/if}}

            </div>
            {{/each}}

        </div>
    </div>
    {{#if menu_builder.description.title}}
    <div id="info" class="black">
        <div>
            <h3>{{menu_builder.description.title}}</h3>
            <span class={{menu_builder.description.icon}}></span>
            <div>
                {{#each menu_builder.description.desc}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    </div>
    {{/if}}
</section>