<section id="background">
    <div id="container">
        <div id="title">
            <h1>{{title}}</h1>
            {{!-- <span class="icon-d2"></span> --}}
            <span><img id="doodle" src="images/doodles/Cafecito.png" alt=""></span>
        </div>
        <div id="board">

            <div>
                <h3>{{menu_builder.content.main.item_single_title}}</h3>
                {{#each menu_builder.content.main.item_single}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>

            <div id="multiple">
                <h3>{{menu_builder.content.main.item_multiple_title}}</h3>
                <div class="sizes">
                    {{#each menu_builder.content.main.size}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{#each menu_builder.content.main.item_multiple}}
                <div class="item">
                    <p>{{name}}</p>
                    <div class="prices">
                        {{#each price}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.content.secondary.title}}</h3>
                <p>{{menu_builder.content.secondary.desc}}</p>
                {{#each menu_builder.content.secondary.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.content.third.title}}</h3>
                <p>{{menu_builder.content.third.desc}}</p>
                {{#each menu_builder.content.third.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>

    {{#if menu_builder.content.iced_drinks}}
            <div>
                <h3>{{menu_builder.content.iced_drinks.title}}</h3>
                {{#each menu_builder.content.main.item_single}}
                {{#if iced}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/if}}
                {{/each}}

                {{#each menu_builder.content.main.item_multiple}}
                {{#if iced}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price.[1]}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/if}}
                {{/each}}

                {{#each menu_builder.content.iced_drinks.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
    {{/if}}

            <div>
                <h3>{{menu_builder.content.fourth.title}}</h3>
                {{#each menu_builder.content.fourth.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>
            
    {{#if menu_builder.content.add_ons}}
            <div>
                <h3>{{menu_builder.content.add_ons.title}}</h3>
                {{#each menu_builder.content.add_ons.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>
    {{/if}}
    
    {{#if menu_builder.content.bonus}}
            <div>
                <h3>{{menu_builder.content.bonus.title}}</h3>
                <p>{{menu_builder.content.bonus.desc}}</p>
            </div>
    {{/if}}

        </div>
    </div>
    <div id="info">
        <div>
            <h3>{{menu_builder.description.title}}</h3>
            <span class={{menu_builder.description.icon}}></span>
            <div>
                {{#each menu_builder.description.desc}}
                <p>{{this}}</p>
                {{/each}}
            </div>
        </div>
    </div>
</section>