<section id="background">
    <div id="container">
        <div id="title">
            <h1>{{title}}</h1>
            {{!-- <span class="icon-d2"></span> --}}
            <span><img id="doodle" src="images/doodles/Cafecito.png" alt=""></span>
        </div>
        <div id="board">

            <div>
                <h3>{{menu_builder.menu.content.coffee.title}}</h3>
                {{#each menu_builder.menu.content.coffee.item_single}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>

            <div id="multiple">
                <h3>{{menu_builder.menu.content.coffee.title}}</h3>
                <div class="sizes">
                    {{#each menu_builder.menu.content.coffee.size}}
                    <p>{{this}}</p>
                    {{/each}}
                </div>
                {{#each menu_builder.menu.content.coffee.item_multiple}}
                <div class="item">
                    <p>{{name}}</p>
                    <div class="prices">
                        {{#each price}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.menu.content.tea_latte.title}}</h3>
                {{#each menu_builder.menu.content.tea_latte.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.menu.content.loose_leaf.title}}</h3>
                {{#each menu_builder.menu.content.loose_leaf.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                        {{#each desc}}
                        <p>{{this}}</p>
                        {{/each}}
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.menu.content.iced_drinks.title}}</h3>
                {{#each menu_builder.menu.content.coffee.item_single}}
                {{#if iced}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/if}}
                {{/each}}

                {{#each menu_builder.menu.content.coffee.item_multiple}}
                {{#if iced}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price.[1]}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/if}}
                {{/each}}

                {{#each menu_builder.menu.content.iced_drinks.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.menu.content.sodas_juices.title}}</h3>
                {{#each menu_builder.menu.content.sodas_juices.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>

            <div>
                <h3>{{menu_builder.menu.content.add_ons.title}}</h3>
                {{#each menu_builder.menu.content.add_ons.items}}
                <div class="item">
                    <p>{{name}}</p>
                    <p>{{price}}</p>
                    <div class="description">
                        <!--item description-->
                    </div>
                </div>
                {{/each}}
            </div>

        </div>
    </div>
    <div id="info">
        <div>
            <h3>Our coffee</h3>
            <span class="icon-N"></span>
            <div>
                <p>At Lokal we are firm believers in espresso and we are proudly serving coffee from Casa del Caffe'.
                </p>
                <p>Our beans Espresso Roma are 100%arabica with a medium strenght, leaving a bold flavor on the palate.
                </p>
                <p>Our decaf Dormi Bene is Swiss water processed and 97% caffeine free.</p>
            </div>
        </div>
    </div>
</section>